#checkout_area {
  position: relative;
  margin-top: -65px;
  .inner_checkout {
    background: $wtcolor;
    padding: 10px;
    box-shadow: $boxShadow;
    border-radius: 10px;
  }
  .child_checkout {
    flex-basis: 23%;
    i {
      float: left;
      padding-right: 10px;
      padding-top: 10px;
    }
    h5 {
      color: $bkColor;
      font-size: 25px;
      margin: 0 0 5px;
    }
    input[type="submit"] {
      margin-top: 32px;
      padding: 12px;
    }
  }
}
