#contact_area {
  position: relative;
  iframe {
    width: 100%;
    height: 450px;
    border: 0;
    display: block;
  }
  .inner_contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .main_content {
    background: $wtcolor;
    max-width: 450px;
    width: 100%;
    padding: 30px;
    border-radius: 25px;
  }
  h5 {
    margin: 0;
  }
  i {
    margin-right: 10px;
    background: $primaryColor;
    color: $wtcolor;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
  }
}
