#hero_area {
  position: relative;
  .inner_hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    p {
      width: 50%;
    }
  }
}
